.header {
    background-color: blue;
    padding: 10px 0;
   
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.header a 
{
    color: whitesmoke;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}
.header a:hover
{
opacity: 0,7;
}   
.header .logo {
    padding-left: 15px;
}
.header .logo a{
    font-weight: 700;
    font-size: 1.5rem;
}
.header .nav-link 
{
display: flex;
align-items: center;

}
.header .nav-link li 
{
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}
   
